@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500;10..48,600&display=swap');

*{
	margin: 0px;
	padding:0px;
} 


/* BOTONERA */
.nav-botonera {
	width: 100%;
	height: 65px;
	background-color:#545ff5;
	display: flex; 
	align-items: center;
	justify-content: space-between;
	/*position: fixed;*/
	z-index: 25;
}

.ysmlu{
	display: flex;
	align-items: center;
	margin-left: 50px;
}

.botonera {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-right: 10px;
}

.botonera a{
	text-decoration: none;
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 35px;
	transition: 0.2s;
	padding: 8px;
	border-radius: 9px;
}

.botonera a:hover {
	color: #fff;
	background-color: #00d3aa;
}

.botonera a:active {
	color: #fff;
	background-color: #124299;
}

/* PORTADA MUJER */
#backgroundmujer {
	background-image: url("img/portadamujer.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	/*width: 100%;
	height: 100%;*/
} /*PARA AIMÉ: no estoy entendiendo como hacer para que la imagen ocupe correctamente todo el ancho y alto, si le agrego background-image es como que se me duplica la imagen y no sé como resolverlo, abajo estuve probando sólo con la imagen pero al aplicar width/height la tipografía veo todo super chico en cuanto a tamaños tipográficos
Otro problema que me pasa es que el mismo <div> me genera un pequeño borde transparente abajo y no se como eliminarlo.*/

/*.img_mujer_ilustraciones {
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}*/

/* PRESENTACIÓN */
.presentacion {
	background-color: #050505;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center; /*todos estos atributos no se porqué no se están aplicando, quiero centrar la imagen y los textos de la zona de presentación como me dijeron pero no me estaría dejando, intenté agregar otro <div> o cambiando el html pero tampoco pude*/
}


.columna-izq-presentacion {
	padding: 50px;
}

.columna-der-presentacion {
	padding: 35px 10px 10px 20px;
}

.luana {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: #00d3aa;
}

h1 {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: #545ff5;
	max-width: 50%;
}

.subtitulo {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 28px;
	font-weight: 300;
	color: #FFFFFF;
	padding-top: 20px;
	max-width: 65%;
}

/*ANIMACIÓN - PRESENTACIÓN*/ /*agregué esta animación que encontré y me pareció interesante, todavía me faltan aplicar propiedades al ancho de la página para que no se mueva de lugar*/
.rotate-animation {
	animation: rotate-animation 25s infinite linear;
}

.bottom125px {
	bottom: 125px;
}

.right130px {
	right: 130px;
}

.position-absolute {
	position: absolute!important;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg)
	}

	50% {
		transform: rotate(180deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.rotate-animation {
	animation: rotate-animation 15s infinite linear
}



/* SECCIÓN SOBRE MI */
main {
	background-color:#f5ece3;
}

.contenedores-sobremi {
	/*background-color: #f5ece3;*/
	display: flex;
	flex-direction: row;
	column-gap: 10%; /* ¿Se puede usar esta propiedad? */
	padding: 50px 50px 70px 50px;
	justify-content: center; /*acá si pude centrar todo el contenido :/ */
}

.lineas-position-sobremi {
	position: absolute;
	z-index: 1;
	left: -50px;
	top: 1160px; /*creo que está mal ubicar la ilustración con left y top, en caso de que si. Se podría llegar a usar en porcentajes?*/
}

.caja-izq-sobremi {
	display: flex;
	flex-direction: column;
	max-width: 38%;
	z-index: 5;
}

.caja-der-sobremi {
	display: flex;
	flex-direction: column;
}

.h2sobremi {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: #545ff5;
	padding-bottom: 10px;
	max-width: 50%;
}

.parrafo {
	font-size: 15px;
	font-weight: 400;
	color: #000000;
	margin-top: 10px;
}

.sectoreducacion {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #000000;
	margin-left: 0px;
	margin-top: 30px;
}

.titulosnaranja {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #ff6e00;
	margin-top: 30px;
	margin-bottom: 5px;
}

ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #000000;
}


/* PROYECTOS DESTACADOS */
.tituloproyecto {
	background-color:#545ff5; 
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 35px;
	font-weight: 600;
	color: #f5ece3;
	padding: 20px 0px 20px 0px;
	display: flex;
	justify-content: center;
	position:relative;
	z-index: 10; /*quise hacer que el título de proyectos destacados esté por encima usando position relative y z-index, ¿está bien?*/
}

.contenedorproyectos {
	display: flex;
	flex-direction: row;
	padding: 80px 70px 0px 70px;
	justify-content: center;
}


h5 {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000000;
	max-width: 60%;
}

h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #545ff5;
	margin-top: 10px;
	margin-bottom: 5px;
	max-width: 60%;
}

.epigrafe {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #000000;
	margin-top: 5px;
	margin-bottom: 80px;
	max-width: 60%;
}

img:hover { 
	transform: scale(1.1);
	transition: transform 0.3s ease;
}
/*Acá aplique una pequeña transición a las imágenes de mis proyectos destacados pero no se como hacer para que NO se aplique a la imagen superior de la mujer*/


/* FOOTER: GRACIAS POR VER */
.barra-color {
	background-color: #545ff5;
	height: 6px;
}

.graciasporver { 
	background-color:#f5ece3;
	padding: 35px 30px 45px 40px;
	display: flex;
	flex-direction: column;
}

h3 {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 40px;
	font-weight: 800;
	color: #545ff5;
	display: flex;
	justify-content: center;
}

.interes {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #545ff5;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

/*FOOTER: CONTACTO*/
.sectioncontacto {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	/*justify-content: center;*/
	background-color:#ff6e00; 
	padding-bottom: 40px;
	column-gap: 6%; /*Se puede aplicar el column-gap por porcentajes?*/
}

.titulocontacto { 
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	font-weight: 600;
	color: #FFFFFF;
	padding: 15px 0px 0px 50px;
}

.redes {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #FFFFFF;
	padding-top: 35px;
	
}

div a {
	text-decoration: none; 
	color: #FFFFFF;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	transition: 0.3s;
}

div a:hover {
	color: #212549;
}

div a:active {
	color: #fff;
}

/*HTML CONTACTO Y SU FORMULARIO*/
.contenedor-formulario {
	display: flex;
	flex-direction: row;
	column-gap: 5%;
}

.pregunta-formulario {
	background-color: #545FF5;
	max-width: 40%;
}

h2 {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 50px;
	font-weight: 700;
	color: #F5ECE3;
	padding: 50px 20px 50px 60px;
	max-width: 60%;
}

.h3-formulario {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: #545ff5;
	display: flex;
	justify-content: flex-start;
}

.zona-formulario {
	background-color: #F5ECE3;
	padding: 50px
}

.subtitulo-form {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #000000; 
	max-width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	background-color: #545FF5;
	padding: 50px 70px 30px 50px;
	max-width: 80%;
}
.items-formulario{
	display: flex;
	flex-direction: row;
	column-gap: 10%;
	
}

.columna-izq-form, .columna-der-form {
	
}

label {
	font-family: 'Oswald', sans-serif; 
	font-size: 17px;
	font-weight: 400;
	line-height: normal;
	color: #F5ECE3;
}
input {
	width: 100%;
	padding: 10px;
	font-family: 'Open Sans', sans-serif; 
	font-size: 15px;
	font-weight: 400;
	line-height: normal;
	border: none;
	margin: 5px 0px 30px 0px;
	background-color: #F5ECE3;
}

.mensaje-form{
	display: flex;
	flex-direction: column;
	margin-right: -20px; /*¿Se puede agregar -px?*/
}
#mensaje{
	padding: 10px 0px 50px 10px;
	margin: 5px 0px 20px 0px;
	border: none;
	font-family: 'Open Sans', sans-serif; 
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	color: #808080;
	background-color: #F5ECE3;
}

.submit {
	font-family: 'Oswald', sans-serif; 
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	color: #F5ECE3;
	background-color: #FF6E00;
	display: flex;
	justify-content: center;
	cursor: pointer;
	border: none;
	max-width: 25%
}

.submit:hover {
	background-color: #00D3AA;
}

	/* FOOTER: COPYRIGHT Y DIRECCIÓN */
.copyright {
	background-color: #545ff5;
	padding: 20px 50px 20px 50px; 
	column-gap: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #FFFFFF;
}
