@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500;10..48,600&display=swap');

*{
	margin: 0px;
	padding:0px;
}

/* BOTONERA */
.nav-botonera {
	width: 100%;
	height: 70px;
	background-color:#545ff5;
	display: flex;
	align-items: center;
	
}

.ysmlu{
	color: #ffffff;
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 26px;
	font-weight: 700;
	width: 40%;
	display: flex;
	justify-content: flex-start;
	margin-left: 30px;
}


.botonera {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.botonera a{
	text-decoration: none;
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 40px;
	border-radius: 3px;
	
}

.botonera a:hover {
	color: #fff;
	background-color: #00d3aa;
}
.botonera a:active {
	color: #fff;
	background-color: #124299;
}


/* PRESENTACIÓN */
.presentacion {
	display: flex;
	flex-direction: row;
	background-color: #000000;
}

.columna-izq-presentacion {
	background-color: #000000;
	padding: 40px 30px 40px 30px;
	margin: 10px;
}

.columna-der-presentacion {
	padding: 40px 0px 0px 20px
}

.luana {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 50px;
	font-weight: 700;
	color: #00d3aa;
}

h1 {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: #545ff5;
}

.subtitulo {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #FFFFFF;
	padding: 20px 130px 0px 0px;
}


/* SECCIÓN SOBRE MI */

.contenedores-sobremi {
	background-color: #f5ece3;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding: 40px 120px 50px 10px;
}
.caja-izq-sobremi {
	margin-right: 350px;
	display: flex;
	flex-direction: column;
}
.caja-der-sobremi {
	display: flex;
	flex-direction: column;
}

.h2sobremi {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: #545ff5;
	padding: 0px 0px 10px 50px
}

.educacion {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #000000;
	margin-left: 50px;
	margin-top: 30px;
}
.parrafo {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #000000;
	margin-left: 50px;
	margin-top: 10px;
}
.titulosnaranja {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #ff6e00;
	margin-bottom: 5px;
}

h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #545ff5;
	margin-bottom: 5px;
}

ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #000000;
}

/* PROYECTOS DESTACADOS */
.proyecto {
	background-color:#545ff5; 
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 35px;
	font-weight: 600;
	color: #f5ece3;
	padding: 15px;
	display: flex;
	justify-content: center;
	
}

.contenedorproyectos {
	display: flex;
	justify-content: space-around;
	background-color: #f5ece3;
	padding: 40px 50px 40px 40px;
	
}

.columna-der-proyectos {
	display: flex;
	flex-direction: column;
	
}

h5 {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #000000;
}
.epigrafe {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #000000;
}
/* FOOTER: GRACIAS POR VER */
.barra-color { /*me gustaria hacer que la barra no ocupe todo el ancho pero no se que propiedad aplicar */
	background-color: #545ff5;
	height: 6px;
}

.graciasporver {
	background-color:#f5ece3; 
	padding: 40px 30px 30px 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

h3 {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 33px;
	font-weight: 600;
	color: #545ff5;
}

.interes {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #545ff5;
}

/*FOOTER: CONTACTO*/
.sectioncontacto {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	background-color:#ff6e00; 
	padding: 40px;
	
}

.titulocontacto { 
	font-family: 'Oswald', sans-serif;
	font-size: 23px;
	font-weight: 600;
	color: #FFFFFF;
	
}

.redes {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	
}

/* FOOTER: COPYRIGHT Y DIRECCIÓN */
.copyright {
	background-color: #545ff5;
	padding: 20px 40px 20px 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

p { /*este despues cuando ponga todos los hipervínculos dejaran de ser <p>, pasarán a ser <a> */
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #FFFFFF;
}
div a {
	text-decoration: none; 
	color: #FFFFFF;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
